#main-doc {
    position: absolute;
    height: 100%;
    width: 75%;
    margin-left: 320px;
}

#nav-bar {
    position: fixed;
    width: 300px;
    height: 100%;
    text-align: center;
    border-right: solid;
    border-color: rgba(0, 22, 22, 0.4);
}

header {
    font-weight: 300;
    font-size: 30px;
    text-align: center;
    margin: 10px;
}

#nav-bar ul {
    height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

#nav-bar li {
    color: #4d4e53;
    border-top: 1px solid;
    list-style: none;
    position: relative;
    width: 100%;
}

#nav-bar a {
    display: block;
    padding: 10px 30px;
    color: #4d4e53;
    text-decoration: none;
    cursor: pointer;
}

code {
    display: block;
    text-align: left;
    white-space: pre-line;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color: #f7f7f7;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}

p {
    font-size: 20px;
}

.nav-link {
    font-size: 30px;
    margin: 10px 0;
    display: block;
}

a {
    text-decoration: none;
}

@media only screen and (max-width: 815px) {
    #nav-bar ul {
        border: 1px solid;
        height: 207px;
    }

    #nav-bar {
        background-color: white;
        position: absolute;
        top: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        max-height: 275px;
        border: none;
        z-index: 1;
        border-bottom: 2px solid;
    }

    #main-doc {
        position: relative;
        margin-left: 0;
        margin-top: 270px;
    }
}

@media only screen and (max-width: 400px) {
    #main-doc {
        margin-left: -10px;
    }

    code {
        margin-left: -20px;
        width: 100%;
        padding: 15px;
        padding-left: 10px;
        padding-right: 45px;
        min-width: 233px;
    }
}
